site_name: "{{project_name}}"
site_description: "{{project_description}}"
site_url: "https://{{repo_username}}.github.io/{{repo_name}}"
repo_url: https://github.com/{{repo_username}}/{{repo_name}}
repo_name: "{{repo_username}}/{{repo_name}}"
docs_dir: src

theme:
  name: material

# See more at https://facelessuser.github.io/pymdown-extensions
markdown_extensions:
  - admonition
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - toc:
      permalink: True

plugins:
  - search

nav:
  - Overview: index.md
