[project]
name = "{{project_name | lower | replace(' ', '-') | replace('_', '-')}}"
version = { use_scm = true }
description = "{{project_description}}"
authors = [{name = "{{author_name}}", email = "{{author_email}}"}]
requires-python = ">=3.9"
dynamic = ["version", "classifiers"]
{%- if private %}
classifiers = ["Private :: Do Not Upload"]
{%- endif %}
dependencies = []

[tool.pdm.dev-dependencies]
dev = [
    "black",
    "flake8",
    "isort",
    "mypy",
    "pre-commit",
    "pyproject-flake8",
    "pytest",
]
{% if docs -%}
docs = [
    "mkdocs",
    "mkdocs-material",
]
{%- endif %}

[tool.pdm.scripts]
clean = { shell = "rm -rf .mypy_cache/ .pytest_cache/ build/ dist/ *.egg-info", help = "Remove build artifacts" }
{% if docs -%}
docs = { shell = "mkdocs serve -f docs/mkdocs.yaml", help = "Serve documentation"}
{% endif -%}
lint = { shell = "pre-commit run --all-files", help = "Run linters and formatters" }
test = { shell = "pytest", help = "Run tests" }

[tool.flake8]
max-line-length = 88
extend-ignore = "E203"

[tool.isort]
profile = "black"

[tool.mypy]
strict = true
ignore_missing_imports = true

[tool.pytest.ini_options]
testpaths = ["tests"]

[build-system]
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"
